$primary-color: #005587;
$secondary-color: white;

.about{
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}

#about{
    align-items: center;
    text-align: center;
    padding-top: 30px;
    margin-top: 0;
}

#about-field{
    padding-top: 20px;
    padding-bottom: 20px;
    white-space: pre;
}

#about-field h2{
    font-size: 1.1em;
    font-weight: 200;
    color: darkgreen;
}

#about-field h4{
    font-size: 1em;
    font-weight: bold;
    color: $primary-color;
}

#about-field p{
    font-size: 0.9em;
    display: inline-block;
    word-wrap: break-word;
    white-space: normal;
    width: 100%;
}

.about-photo{
    height: 100%;
    width: 100%;
    max-height: 300px;
    max-width: 300px;
    object-fit: contain;
    object-position: 50% 50%;
    padding-left: 0;
    padding-top: 20px;
    padding-right: 20px;
}

.about-tag{
    padding-left: 50px;
    padding-bottom: 20px;
    
}