$primary-color: black;
$secondary-color: white;

.mainbackground{
    background-color: $secondary-color;
}  

.jumbotron{
    text-align: center;
    padding-top: 15%;
    margin: 0;
    padding-left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("../data/edit_5.jpg") !important;
    background-size: cover;
}

.jumbotron p{
    width: 50%;
    margin-left: 50%;
    transform: translate(-50%)
}

#button{
    justify-content: center;
    align-items: center;
    color: $secondary-color;
    border: none;
}